html, body {
  height: 100%;
  margin: 0;
  background-color: #1f377e;
  color: #ffffff;
}

.main-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}
    
        